{% extends 'base.html' %}
{% block title %}{{ person.first_name }} {{ person.last_name }}{% endblock %}
{% block content %}
<div class="container mt-2">
      {% if messages %}
      <div class="alert alert-danger" role="alert">
      {% for message in messages %}
      <div {% if message.success %} class="{{ message.success }}"{% endif %}>{{ message }}</div>
    </div>
      {% endfor %}
      </div>
    {% endif %}
    </div>
<div class="container">

  <div class="row mt-4">
    <div class="col-4">
    <h1>{{ person.first_name }} {{ person.last_name }}
    </h1> 
    </div>
    <div class="col">
    <h1><a href="{% url 'portal:update_person' person.id %}" class="btn btn-primary mr-2">Update</a><button type="submit" class="btn btn-dark" data-toggle="modal" data-target="#delete_confirmation">Delete</button>
          <div class="modal fade" id="delete_confirmation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h6>This person's record will be permanently deleted from our database.</h6>
            </div>
            <div class="modal-footer">
              <form method='POST' action="{% url 'portal:delete_person' person.id %}">
                {% csrf_token %}
              <button type="submit" class="btn btn-secondary">Delete</button>
              </form>
              <div>
              <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    </h1>
  </div>
    
  </div>
    <div class="container">
  <div class="row">
    <div class="col-3">
      <div class="list-group list-group-flush mt-4 mb-5">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">First name: </li>
                <li class="list-group-item">Last name: </li>
                <li class="list-group-item">Other name: </li>
                <li class="list-group-item">Status: </li>
                <li class="list-group-item">ID Number: </li>
                <li class="list-group-item">Date of Birth: </li>
                <li class="list-group-item">Mobile: </li>
                <li class="list-group-item">Email: </li>
                <li class="list-group-item">Description: </li>
                <li class="list-group-item">Last updated: </li>
                <li class="list-group-item">Event: </li>
                <li class="list-group-item"></li>
              </ul>
      </div>
    </div>
    <div class="col">
      <div class="list-group list-group-flush mt-4 mb-5">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">{{ person.first_name }}</li>
                <li class="list-group-item">{{ person.last_name }}</li>
                <li class="list-group-item">{{ person.other_name }}</li>
                
                <li class="list-group-item">{% if person.status.name == 'missing' %}<span class="text-danger" > {{ person.status.name }} </span>{% elif person.status.name == 'safe' %}<span class="text-success">{{ person.status.name }}</span> {% endif %}</li>
                <li class="list-group-item">{{ person.id_number }}</li>
                <li class="list-group-item">{{ person.dob }}</li>
                <li class="list-group-item">{{ person.mobile }}</li>
                <li class="list-group-item">{{ person.email }} </li>
                <li class="list-group-item">{{ person.description }}</li>
                <li class="list-group-item">{{ person.updated_date }}</li>
                <li class="list-group-item"><a href="{% url 'portal:show_event' person.event.id %}">{{ person.event.name }}</a></li>
                <li class="list-group-item"></li>
              </ul>
      </div>

    </div>
  </div>
        
</div>

{% endblock %}